body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 7rem; 
  
}

footer {
  text-align: right;
  color: midnightblue;
}
h2{
  font-size: 50px;
}
p{
  font-size: 30px;
}
.logo{
  flex: 1;
  width: 400px;
}

.creative {
  color: midnightblue;
}

.card{
  width: 49%;
  padding: 1px ;
  margin: 3px;
  display: inline-block;
}

.tile-image{
  height: 300px;
  width: 500px;
  float: left;
  margin: 15px;
}
@media (max-width:1200px){
 .logo{
   width: 200px;
   }
 h1 {
    font-size: 4rem;
    text-align: center; 
   }
  .card{
    width: 100%;
    padding: 1px ;
    margin-bottom: 30px;
    display: block;
    text-align: justify;
   }
  .tile-image{
    width: 50%;
    float: none;
   }
  }
